.main_cont {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}

.company_name {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 64px;
}

.side_bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #85af65;
}

.main_infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  padding-top: 80px;
  padding-bottom: 130px;
}

.side_bar_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 208px;
  height: 48px;
  cursor: pointer;
  margin-bottom: 5px;
}

.item_img {
  width: 18px;
  height: 18px;
}

.item_text {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
}

.main_subsection {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 298px;
  border-radius: 16px;
  padding: 40px;
  background-color: #d9d9d9;
}

.home {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile_min_main {
  display: flex;
  flex-direction: row;
}

.profile_pic {
  background-color: #b9b9b9;
  width: 241px;
  height: 254px;
  border-radius: 16px;
}

.edit_cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.edit_icon {
  width: 12px;
  height: 12px;
  cursor: pointer;
  margin-top: -2px;
}

.edit_text {
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  cursor: pointer;
}

.add_text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  color: #6d9f46;
  cursor: pointer;
}

.file_icon {
  width: 24px;
  height: 24px;
  margin-right: 19px;
  cursor: pointer;
}

.file_cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.file_name {
  color: #6d9f46;
  cursor: pointer;
}

.bio {
  margin-left: 47px;
}

.name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
}

.bio_label {
  font-size: 16px;
  font-weight: 600;
}

.genotype_info {
  margin-left: 106px;
  margin-top: 60px;
}

.subsection_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subsection {
  display: flex;
  width: 85%;
  flex-direction: column;
  margin-top: 47px;
}

.subsection_horizontal {
  width: 100%;
  margin-bottom: 24px;
}

.subsection_subhead {
  display: grid;
  grid-template-columns: 36% 34% 30%;
  background-color: #fce7d1;
  padding: 0 24px 0 24px;
}

.subsection_items {
  display: grid;
  grid-template-columns: 36% 34% 30%;
  padding: 0 24px 0 24px;
}

.subsection_subhead2{
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: #fce7d1;
  padding: 0 24px 0 24px;
}

.subsection_items2 {
  padding: 0 24px 0 24px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.subsection_title {
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
}

.subsection_items3 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 48px;
  padding: 0 24px 0 24px;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 10px;
}

.active {
  border-radius: 4px;
  background-color: #f0851a;
  padding-left: 19px;
  transition: 0.5s;
}